@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hide {
  text-indent: -9999em;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
}

/* default */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 auto !important;
}

body {
  width: 100%;
  font-size: 1.6rem;
  color: #000;
  font-family: Noto Sans KR, Malgun Gothic,  Malgun Gothic, Dotum, Gulim,  'sans-serif';
  margin: 0 auto;
}

h1, h2, h3, h4, ul, li, dl, dd, dt, ol {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR','Roboto','sans-serif';
  word-wrap: break-word;
}

ul, li, dl, dd, dt {
  list-style-type: none;
}

img, fieldset {
  border: 0;
  max-width: 100%;
}

form, fieldset {
  margin: 0;
  padding: 0;
}

header,
section,
article,
aside,
footer,
nav {
  display: block;
}

fieldset {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
}

pre {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  border: 0;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
dd {
  margin: 0;
}

a,
select,
button,
input,
textarea {
  font-family: inherit;
}

button,
input[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
}

select::-ms-expand {
  display: none;
  /* IE 10, 11 */
}

/* reset */
input, textarea, button, select {
  font-size: 1rem;
}

img, fieldset, button {
  border: 0;
}

textarea {
  overflow: auto;
}

input[type=submit],
input[type=button],
button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

address, em {
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table, th, td {
  border: none;
}

caption {
  overflow: hidden;
  line-height: 0;
  text-indent: -2000em;
}

legend, .hidden {
  padding: 0;
  margin: 0;
  overflow: hidden !important;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 0;
}

i {
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

figure {
  padding: 0px;
  margin: 0px;
}

/* 링크 기본값 */
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/* 리스트 스타일 제거 */
ul, ol, li {
  list-style: none;
}

/* mobile */
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.main_img_slider01 .bg {
  background-image: url("/img/main/m_visaul_bg01.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_img_slider02 .bg {
  background-image: url("/img/main/m_visaul_bg02.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_img_slider03 .bg {
  background-image: url("/img/main/m_visaul_bg03.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.fadein, .fadein_d1, .fadein_d2, .fadein_d3, .fadein_d4, .fadein_d5, .fadein_d6, .fadein_d7, .fadein_d8, .fadein_d9 {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.fadein_d1 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.fadein_d2 {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.fadein_d3 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.fadein_d4 {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.fadein_d5 {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.fadein_d6 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.fadein_d7 {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.fadein_d8 {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.fadein_d9 {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.btn-row, [class*="btn-row--"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ic_btn, [class*="ic_btn--"] {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.two__btn--wrap {
  width: 100%;
}

.two__btn--wrap [class*="btn-row"] {
  width: calc(50% - 1.5rem);
}

.three__btn--wrap {
  width: 100%, 1rem;
}

.three__btn--wrap .w_division1 {
  width: calc((100% / 1) - 1rem);
}

.three__btn--wrap .w_division2 {
  width: calc((100% / 2) - 1rem);
}

.three__btn--wrap .w_division3 {
  width: calc((100% / 3) - 1rem);
}

.three__btn--wrap .w_division4 {
  width: calc((100% / 4) - 1rem);
}

.three__btn--wrap .w_division5 {
  width: calc((100% / 5) - 1rem);
}

.three__btn--wrap .w_division6 {
  width: calc((100% / 6) - 1rem);
}

.three__btn--wrap .w_division7 {
  width: calc((100% / 7) - 1rem);
}

.three__btn--wrap .w_division8 {
  width: calc((100% / 8) - 1rem);
}

.three__btn--wrap .w_division9 {
  width: calc((100% / 9) - 1rem);
}

.three__btn--wrap .w_division10 {
  width: calc((100% / 10) - 1rem);
}

.three__btn--wrap .w_division11 {
  width: calc((100% / 11) - 1rem);
}

.three__btn--wrap .w_division12 {
  width: calc((100% / 12) - 1rem);
}

.three__btn--wrap [class*="btn-row"] {
  max-width: 100%;
}

.check_box {
  position: relative;
}

.check_box input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.check_box input[type="checkbox"]:checked + label:active::before {
  background: #666c76;
}

.check_box input[type="checkbox"]:checked + label::before {
  background: #666c76;
}

.check_box input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 8rem;
  font-size: 2rem;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.check_box input[type="checkbox"] + label:active::before {
  background: #666c76;
}

.check_box input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: #fff;
  border: 1px solid #b8b8b8;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.check_box_type2 {
  position: relative;
}

.check_box_type2 input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.check_box_type2 input[type="checkbox"]:checked + label:active::before {
  background-image: url("/img/assets/ic_checkbox_on.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.check_box_type2 input[type="checkbox"]:checked + label::before {
  background-image: url("/img/assets/ic_checkbox_on.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.check_box_type2 input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  width: 100%;
  font-size: 2rem;
  display: block;
  font-weight: 400;
  padding-left: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.check_box_type2 input[type="checkbox"] + label:active::before {
  background-image: url("/img/assets/ic_checkbox_on.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.check_box_type2 input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  display: block;
  width: 3rem;
  z-index: -1;
  height: 3rem;
  left: 0;
  top: 0;
  text-align: center;
  background: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-image: url("/img/assets/ic_checkbox_off.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.radio_box {
  position: relative;
}

.radio_box.full {
  width: 100%;
}

.radio_box input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.radio_box input[type="radio"]:checked + label {
  color: #fff;
}

.radio_box input[type="radio"]:checked + label:active::before {
  background: #666c76;
}

.radio_box input[type="radio"]:checked + label::before {
  background: #666c76;
  border-color: #666c76;
}

.radio_box input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 8rem;
  font-size: 2rem;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.radio_box input[type="radio"] + label:active::before {
  background: #666c76;
}

.radio_box input[type="radio"] + label::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 1px);
  z-index: -1;
  height: calc(100% - 2px);
  left: 0;
  top: 0;
  text-align: center;
  background: #fff;
  border: 1px solid #b8b8b8;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.select_box {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 8rem;
}

.select_box::before {
  content: '';
  position: absolute;
  display: block;
  width: 1.5rem;
  height: .85rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2.2rem;
  top: 50%;
  background-image: url("/img/assets/ic_select_box--arrow.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.select_box label {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border: 1px solid #b8b8b8;
  line-height: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  background: #fff;
  font-weight: 400;
  padding: 0 0  0 2rem;
}

.select_box select {
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  line-height: normal;
  font-family: inherit;
  font-size: 2rem;
  background: #fff;
  font-weight: 400;
}

.input_box {
  width: 100%;
  position: relative;
}

.input_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2rem;
  line-height: 8rem;
  height: 8rem;
  cursor: text;
  font-size: 2rem;
  color: #000;
  font-weight: 400;
}

.input_box input[type="text"], .input_box input[type="password"] {
  width: 100%;
  height: 8rem;
  border: 1px solid #b8b8b8;
  padding: 0 0  0 2rem;
  line-height: 8rem;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.file_box {
  width: 100%;
  position: relative;
}

.file_box label {
  width: 100%;
  height: 8rem;
  line-height: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  background: #666c76;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.file_box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.radio_button {
  position: relative;
}

.radio_button--wrap {
  padding: 1.5rem 0;
}

.radio_button input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.radio_button input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 4.16rem;
  cursor: pointer;
  height: 100%;
}

.radio_button input[type="radio"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -.5rem;
  width: 3.35rem;
  height: 3.35rem;
  text-align: center;
  background: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 100%;
}

.radio_button input[type="radio"]:checked + label:before {
  background: #fff;
}

.radio_button input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 9px;
  width: 1.375rem;
  height: 1.375rem;
  background: #000;
  border-radius: 100%;
}

.email_list {
  width: 100%;
  position: relative;
}

.email_list > div {
  width: 50%;
}

.email_list .input_box input[type=text], .email_list .input_box input[type=password] {
  border-right: 0;
}

.email_list .select_box label {
  border-left: 0;
}

.email_list .select_box .input_box {
  display: none;
}

.email_list .select_box .input_box input[type=text], .email_list .select_box .input_box input[type=password] {
  border-left: 0;
  border-right: 1px solid #b8b8b8;
}

.email_list--dot {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Agree__wrap {
  margin: 3.75rem 0;
  text-align: left;
}

.Agree__wrap--inp {
  position: relative;
  margin-bottom: 1.5rem;
}

.Agree__wrap--inp:nth-of-type(n+1) ~ :nth-of-type(n+2) input[type=checkbox] + label {
  color: #7b7b7b;
}

.Agree__wrap--inp input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.Agree__wrap--inp input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  padding-bottom: .5rem;
  text-align: left;
  -webkit-transition: .5s all;
  transition: .5s all;
  cursor: pointer;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Agree__wrap--inp input[type=checkbox] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background-image: url("/img/assets/ic_term_check.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Agree__wrap--inp input[type=checkbox] + label [class*="small__txt_type1"] {
  font-size: 1.5rem;
}

.Agree__wrap--inp input[type=checkbox] + label:active::before, .Agree__wrap--inp input[type=checkbox] :checked + label:active::before {
  background-image: url("/img/assets/ic_term_check_on.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Agree__wrap--inp input[type=checkbox]:checked + label::before {
  background-image: url("/img/assets/ic_term_check_on.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Agree__wrap--inp--more {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 1.8rem;
  font-size: 1.5rem;
  color: #000;
  font-weight: 300;
}

.search_box {
  position: relative;
  border: 1px solid #000;
  border-radius: 1rem;
  overflow: hidden;
}

.search_box .search_btn {
  width: 11.75rem;
}

.search_box .input_box {
  width: calc(100% - 11.75rem);
}

.search_box .input_box input[type=text], .search_box .input_box input[type=password] {
  border: none;
  color: #929599;
}

.search_box .input_box label {
  color: #929599;
  font-weight: 400;
}

.textarea_box {
  position: relative;
  border: 1px solid #b8b8b8;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  background: #fff;
}

.textarea_box textarea {
  border: none;
  width: 100%;
  height: 6.25rem;
  resize: none;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.textarea_box textarea::-webkit-input-placeholder {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  line-height: 3.5rem;
}

.textarea_box textarea:-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  line-height: 3.5rem;
}

.textarea_box textarea::-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  line-height: 3.5rem;
}

.textarea_box textarea::placeholder {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  line-height: 3.5rem;
}

.bone_List .select_box {
  width: 33.3%;
}

.bone_List .select_box:last-of-type {
  width: 33.4%;
}

.bone_List .select_box:last-of-type label {
  border-right: 1px solid #b8b8b8;
}

.bone_List .select_box label {
  border-right: none;
}

.confirm__list .email_list {
  width: calc(100% - 7.5rem);
}

.self__intro textarea {
  min-height: 57.5rem;
}

.self__intro textarea::-webkit-input-placeholder {
  color: #666c76;
  font-size: 1.375rem;
}

.self__intro textarea:-ms-input-placeholder {
  color: #666c76;
  font-size: 1.375rem;
}

.self__intro textarea::-ms-input-placeholder {
  color: #666c76;
  font-size: 1.375rem;
}

.self__intro textarea::placeholder {
  color: #666c76;
  font-size: 1.375rem;
}

.hide {
  text-indent: -9999em;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrap {
  position: relative;
}

.dim_area {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  display: none;
}
/*# sourceMappingURL=common.css.map */