@import "_header";
@import "_footer";
.l-row{
	@at-root .l-row, [class*="l-row--"]{
		display: -ms-flexbox;
		position: relative;
        display: flex;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	&--reverse{
		flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
	}
	&--between{
		justify-content: space-between;
    	-ms-flex-pack: justify;
	}
	&--around{
		justify-content: space-around;
	}
	&--v-center{
		align-items: center;
		-ms-flex-align: center;
	}
	&--c-cnter{
		align-items: center;
		flex-direction: column;
		-ms-flex-align: center;
	}
	&--h-start{
		justify-content: flex-start;
		-ms-flex-pack: start;
	}
	&--h-center{
		justify-content: center;
		-ms-flex-pack: center;
	}
	&--h-end{
		justify-content: flex-end;
		-ms-flex-pack: end;
		text-align: right;

	}
}
.i-row{
	@at-root .i-row, [class*="i-row--"]{
		display: -ms-flexbox;
		position: relative;
        display: inline-flex;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	&--reverse{
		flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
	}
	&--between{
		justify-content: space-between;
    	-ms-flex-pack: justify;
	}
	&--around{
		justify-content: space-around;
	}
	&--v-center{
		align-items: center;
		-ms-flex-align: center;
	}
	&--h-start{
		justify-content: flex-start;
		-ms-flex-pack: start;
	}
	&--h-center{
		justify-content: center;
		-ms-flex-pack: center;
	}
	&--h-end{
		justify-content: flex-end;
		-ms-flex-pack: end;
		text-align: right;

	}
}

.l-col{
	@at-root .l-col, [class*="l-col--"]{
		display: -ms-flexbox;
		position: relative;
        display: flex;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-direction: column;
	}
	&--reverse{
		flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
	}
	&--between{
		justify-content: space-between;
    	-ms-flex-pack: justify;
	}
	&--around{
		justify-content: space-around;
	}
	&--v-center{
		align-items: center;
		-ms-flex-align: center;
	}
	&--h-start{
		justify-content: flex-start;
		-ms-flex-pack: start;
	}
	&--h-center{
		justify-content: center;
		-ms-flex-pack: center;
	}
	&--h-end{
		justify-content: flex-end;
		-ms-flex-pack: end;
		text-align: right;

	}
}
